@import url('../css/normalize_null.css');

$md1: 1198.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

* {
    font-family: 'Montserrat', sans-serif;
}

button, a {
    cursor: pointer;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: rgba(255, 255, 255, 1);
}

.wrapper {
    min-height: 100%;
    max-width: 1440px;
    min-width: 280px;
    margin: 0 auto;
    overflow: hidden;
}

.page {
    position: absolute;
    width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1440px;
	display: flex;
	flex-direction: column;
}

.container {
    max-width: 1236px;
    margin: 0 auto;
    padding: 0 20px;
}

.head_section {
    padding: 0 0 0 130px;
    @media (max-width: $md2 + px) {
        padding: 0 0 0 50px;
    }
    @media (max-width: $md3 + px) {
        padding: 0 0 0 30px;
    }
}

.title_section {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: rgba(38, 38, 38, 1);
    @media (max-width: $md3 + px) {
        font-size: 30px;
        line-height: 40px;
    }
    @media (max-width: $md4 + px) {
        font-size: 22px;
        line-height: 26px;
    }
}

.subtitle_section {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: rgba(131, 131, 131, 1);
    @media (max-width: $md3 + px) {
        font-size: 18px;
        line-height: 22px;
    }
    @media (max-width: $md4 + px) {
        font-size: 14px;
        line-height: 16px;
    }
}

.up {
    position: fixed;
    right: 50px;
    bottom: 30px;
    width: auto;
    height: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-in 0s;
    z-index: 2;
    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(231, 231, 231, 0.5);
        border-radius: 10px;
        transition: background .3s ease-in 0s;
    }
    img {
        width: 40px;
        height: 40px;
    }
    &.shown {
        visibility: visible;
        opacity: 1;
    }
    @media (min-width: $md3 + .01 + px)  {
        &__link {
            &:hover {
                background: rgba(231, 231, 231, 0.5);
            }
        }
    }
    @media (max-width: $md3 + px) {
        &__link {
            width: 45px;
            height: 45px;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
}
//=======================================================================
.header {
    height: 140px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__left {
        display: flex;
        align-items: flex-end;
        justify-content: left;
        margin: 0 10px 0 0;
    }
    &__logo {
        flex: 0 0 130px;
        margin: 0 50px 0 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__link {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: rgba(185, 185, 185, 1);
        transition: color .3s ease-in 0s;
        &:hover {
            color: rgba(0, 0, 0, 1);
        }
    }
    &__right {
    }
    &__cases {
        margin: 0 0 -5px 0;
    }
    &__email {
    }
    @media (max-width: $md2 + px) {
        height: 100px;
        &__logo {
            flex: 0 0 110px;
            margin: 0 20px 0 0;
        }
    }
    @media (max-width: $md3 + px) {
        height: 70px;
        &__logo {
            flex: 0 0 80px;
            margin: 0 15px 0 0;
        }
        &__link {
            font-size: 18px;
            line-height: 22px;
        }
        &__email {
            margin: 0 0 -5px 0;
        }
    }
    @media (max-width: $md4 + px) {
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }
        &__left {
            margin: 0 0 15px 0;
        }
        &__link {
            font-size: 16px;
            line-height: 18px;
        }
    }
}
//=======================================================================
.top {
    flex: 1 0 100%;
    max-height: 1500px;
    padding: 180px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__content {
        max-width: 537px;
        margin: 0 auto;
        text-align: center;
    }
    &__bg {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__title {
        margin: 0 0 14px 0;
    }
    &__subtitle {
        margin: 0 0 20px 0;
    }
    &__options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px;
        margin: 0 0 42px 0;
    }
    &__link {
        width: 224px;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: rgba(195, 159, 121, 1);
        border: 3px solid rgba(200, 160, 120, 1);
        border-radius: 10px;
        margin: 0 auto;
        transition: color .3s ease-in 0s, background .3s ease-in 0s;
        &:hover {
            color: white;
            background: rgba(195, 159, 121, 1);
        }
    }
    .options {
        &__item {
            font-size: 18px;
            line-height: 22px;
            padding: 5px 14px;
            color: rgba(0, 0, 0, 1);
            background: rgba(235, 235, 235, 1);
            border-radius: 10px;
            margin: 0 5px 0 0;
        }
    }
    @media (max-width: $md2 + px) {
        max-height: 1030px;
        padding: 150px 0 0 0;
    }
    @media (max-width: $md3 + px) {
        padding: 120px 0 0 0;
        .options {
            &__item {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    @media (max-width: $md4 + px) {
        &__options {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 0 30px 0;
        }
        .options {
            padding: 0 10px;
            &__item {
                margin: 0 5px 10px 0;
            }
        }
    }
}
//=======================================================================
.history {
    flex: 0 0 auto;
    padding: 101px 0 214px 0;
    background: url('../img/history_bg_r2.png') right bottom/auto 529px no-repeat, url('../img/history_bg_r1.svg') right 26px bottom/auto 567px no-repeat, url('../img/history_bg_l.svg') left 0px/auto 100% no-repeat, url('../img/history_bg_m.svg') top 50% right 27%/auto 95% no-repeat;
    &__head {
        max-width: 530px;
        margin: 0 0 140px 0;
    }
    &__title {
        margin: 0 0 35px 0;
    }
    &__subtitle {
        margin: 0;
    }
    &__main {
        display: flex;
        align-items: flex-end;
        padding: 0 0 0 70px;
    }
    &__pic {
        flex: 0 0 222px;
        margin: 0 4px 0 0;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__text {
        flex: 0 1 416px;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: rgba(136, 136, 136, 1);
        margin: 0 0 20px 0;
        p:first-child {
            max-width: 350px;
        }
        span {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: rgba(38, 38, 38, 1);
        }
    }
    @media (max-width: $md1 + px) {
        &__text {
            p {
                max-width: 350px;
            }
        }
    }
    @media (max-width: $md2 + px) {
        padding: 70px 0 100px 0;
        background: url('../img/history_bg_r2.png') right bottom/auto 400px no-repeat, url('../img/history_bg_r1.svg') right 20px bottom/auto 430px no-repeat, url('../img/history_bg_l.svg') left 0px/auto 100% no-repeat, url('../img/history_bg_m.svg') top 50% right 27%/auto 95% no-repeat;
        &__head {
            margin: 0 0 120px 0;
        }
        &__main {
            padding: 0 0 0 30px;
        }
        &__pic {
            flex: 0 1 180px;
        }
        &__text {
            font-size: 16px;
            line-height: 18px;
            p, p:first-child {
                max-width: 300px;
            }
        }
    }
    @media (max-width: $md3 + px) {
        padding: 70px 0 50px 0;
        background: url('../img/history_bg_l.svg') left top 0/auto 100% no-repeat, url('../img/history_bg_m.svg') top 50% right 20%/auto 95% no-repeat;
        &__head {
            margin: 0 0 50px 0;
        }
        &__title {
            margin: 0 0 15px 0;
        }
        &__main {
            width: 100%;
            justify-content: space-around;
        }
        &__text {
            flex: 0 1 auto;
        }
    }
    @media (max-width: $md4 + px) {
        padding: 60px 0 30px 0;
        background: url('../img/history_bg_l.svg') left -100px top 0/auto 100% no-repeat, url('../img/history_bg_m.svg') top 50% right -80px/auto 95% no-repeat;
        &__main {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}
//=======================================================================
.gestalt {
    flex: 0 0 auto;
    padding: 65px 0 120px 0;
    &__head {
        margin: 0 0 46px 0;
        max-width: 999px;
    }
    &__title {
        margin: 0 0 13px 0;
    }
    &__subtitle {
        margin: 0;
    }
    &__text {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: rgba(38, 38, 38, 1);
        margin: 0 0 30px 0;
        padding: 0 0 0 150px;
    }
    &__box {
        background: url('../img/gestalt_bg_1.svg') 65% 0/25% auto no-repeat, url('../img/gestalt_bg_2.svg') 50% 363px/45% auto no-repeat, url('../img/gestalt_bg_3.svg') 35% 550px/45% auto no-repeat, url('../img/gestalt_bg_4.svg') 45% 750px/45% auto no-repeat;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 50px 0 10px 0;
    }
    &__column {
        flex: 0 0 auto;
        &_1 {
            padding: 100px 0 0 20px;
        }
        &_2 {
            padding: 0 70px 0 0;
        }
    }
    &__pic {
        width: 240px;
        height: auto;
        position: relative;
        img {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
        }
        &:before {
            content: '';
            width: 254px;
            height: 295px;
            position: absolute;
            left: 0;
        }
        &_1 {
            margin: 0 0 184px 0;
            img {
                left: -45px;
            }
            &:before {
                background: rgba(208, 180, 150, 1);
                top: 83px;
            }
        }
        &_2 {
            img {
                bottom: 21px;
            }
            &:before {
                background: rgba(249, 249, 249, 1);
            }
        }
        &_3 {
            margin: 0 0 219px 0;
            img {
                right: -50px;
                bottom: -50px;
            }
            &:before {
                background: rgba(249, 249, 249, 1);
            }
        }
        &_4 {
            img {
                bottom: 26px;
            }
            &:before {
                background: rgba(102, 170, 173, 1);
            }
        }
    }
    .pic {
        &__lable {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: rgba(38, 38, 38, 1);
            position: absolute;
            z-index: 1;
            &_1 {
                top: 90px;
                right: -30px;
            }
            &_2 {
                left: 50%;
                top: -10px;
                transform: translate(-50%, 0);
            }
            &_3 {
                left: -43px;
                top: 70px;
            }
            &_4 {
                top: 23px;
                right: -65px;
            }
        }
    }
    @media (max-width: $md2 + px) {
        padding: 45px 0 70px 0;
        &__text {
            padding: 0 0 0 60px;
        }
        &__box {
            background: url('../img/gestalt_bg_1.svg') 50% 0/25% auto no-repeat, url('../img/gestalt_bg_2.svg') 53% 340px/45% auto no-repeat, url('../img/gestalt_bg_3.svg') 40% 470px/45% auto no-repeat, url('../img/gestalt_bg_4.svg') 45% 650px/45% auto no-repeat;
            padding: 30px 0 10px 0;
        }
        &__pic {
            width: 200px;
            &:before {
                width: 200px;
                height: 260px;
            }
            &_1 {
                &:before {
                    top: 66px;
                }
            }
            &_3 {
                img {
                    right: -50px;
                    bottom: -20px;
                }
            }
        }
    }
    @media (max-width: $md3 + px) {
        padding: 25px 0 30px 0;
        &__box {
            background: url('../img/gestalt_bg_1.svg') 40% 0/25% auto no-repeat, url('../img/gestalt_bg_2.svg') 57% 270px/45% auto no-repeat, url('../img/gestalt_bg_3.svg') 34% 400px/45% auto no-repeat, url('../img/gestalt_bg_4.svg') 45% 620px/45% auto no-repeat;
        }
        &__text {
            padding: 0 0 0 30px;
            margin: 0 0 15px 0;
        }
        &__column {
            &_1 {
                padding: 70px 0 0 20px;
            }
            &_2 {
                padding: 0 45px 0 0;
            }
        }
        &__pic {
            width: 160px;
            &:before {
                width: 160px;
                height: 210px;
            }
            &_1 {
                &:before {
                    top: 56px;
                }
            }
            &_3 {
                img {
                    right: -20px;
                    bottom: -10px;
                }
            }
        }
        .pic {
            &__lable {
                font-size: 14px;
                line-height: 18px;
                &_1 {
                    top: 80px;
                    right: -10px;
                }
                &_4 {
                    right: -45px;
                }
            }
        }
    }
    @media (max-width: $md4 + px) {
        padding: 25px 0 15px 0;
        &__box {
            background: none;
            flex-direction: column-reverse;
            align-items: center;
        }
        &__column {
            padding: 0;
        }
        &__pic {
            margin: 0 0 20px 0;
            &_1 {
                margin: 0 0 90px 0;
            }
            &_4 {
                margin: 0 0 10px 0;
            }
        }
    }
}
//=======================================================================
.projects {
    flex: 0 0 auto;
    background: rgba(249, 249, 249, 1) url('../img/projects_bg_1.svg') top right 76px/auto 100% no-repeat;
    padding: 141px 0 127px 0;
    &__head {
        margin: 0 0 59px 0;
    }
    &__title {
        margin: 0 0 16px 0;
    }
    &__subtitle {
        margin: 0;
    }
    &__main {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        &_1 {
            background: url('../img/projects_bg_2.svg')  50% 320px/304px auto no-repeat;
            padding: 410px 0 0 0;
            margin: 0 .84% 0 0;
        }
        &_2 {
            margin: 0 5.2% 0 0;
        }
        &_3 {
            background: url('../img/projects_bg_3.svg') 0 0/351px 685px no-repeat;
            padding: 260px 0 0 6.6%;
        }
    }
    .item {
        &__pic {
            width: 100%;
            height: auto;
            margin: 0 0 16px 0;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__brand {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: rgba(38, 38, 38, 1);
            margin: 0 0 5px 0;
        }
        &__description {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: rgba(132, 132, 132, 1);
            margin: 0 0 5px 0;
        }
        &__link {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: underline;
            color: rgba(38, 38, 38, 1);
        }
    }
    @media (max-width: $md2 + px) {
        padding: 45px 0 70px 0;
        &__head {
            margin: 0 0 50px 0;
        }
    }
    @media (max-width: $md3 + px) {
        background: rgba(249, 249, 249, 1);
        padding: 25px 0 30px 0;
        &__head {
            margin: 0 0 40px 0;
        }
        &__main {
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 70%;
            padding: 0;
            margin: 0 0 40px 0;
            background: none;
        }
        .item {
            &__pic {
                margin: 0 0 10px 0;
            }
        }
    }
}
//=======================================================================
.media {
    flex: 0 0 auto;
    background: url('../img/media_bg.svg') 150.5px 0/249.5px auto no-repeat;
    padding: 141px 0 114px 0;
    &__head {
        margin: 0 0 25px 0;
    }
    &__title {
        margin: 0 0 16px 0;
    }
    &__subtitle {
        margin: 0;
    }
    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__column {
        &:first-child {
            flex: 0 1 218px;
        }
        &:nth-child(2) {
            flex: 0 1 328px;
        }
        &:nth-child(3) {
            flex: 0 1 300px;
        }
    }
    &__link {
        width: 100%;
        height: auto;
        margin: 0 5px;
        img {
            width: 100%;
            height: auto;
        }
    }
    @media (max-width: $md2 + px) {
        padding: 80px 0 80px 0;
    }
    @media (max-width: $md3 + px) {
        background: none;
        padding: 40px 0 40px 0;
    }
}
//=======================================================================
.like {
    flex: 0 0 auto;
    background: url('../img/like_bg.svg') 90% 0/114.25px auto no-repeat;
    padding: 86px 0 127px 0;
    &__head {
        margin: 0 0 58px 0;
    }
    &__title {
        margin: 0 0 16px 0;
    }
    &__subtitle {
        margin: 0;
    }
    &__form {
    }
    .form {
        display: flex;
        align-items: flex-end;
        margin: 0;
        padding: 0 0 0 130px;
        &__item {
            flex: 0 1 33.333%;
            margin: 0 20px 0 0;
        }
        &__lable {
            display: block;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: rgba(169, 169, 169, 1);
            margin: 0 0 11px 5px;
        }
        &__input {
            width: 100%;
            height: 72px;
            background: rgba(229, 229, 229, 1);
            border-radius: 15px;
            border: none;
            padding: 20px;
            font-size: 20px;
            color: rgba(80, 80, 80, 1);
            &:focus {
                box-shadow: 0 0 7px rgb(100, 100, 100);
            }
        }
        &__button {
            flex: 0 1 33.333%;
            height: 72px;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: rgba(255, 255, 255, 1);
            background: rgba(195, 159, 121, 1);
            border-radius: 15px;
            transition: border .3s ease-in 0s, background .3s ease-in 0s, color .3s ease-in 0s;
            &:hover {
                border: 3px solid rgba(195, 159, 121, 1);
                background: rgba(255, 255, 255, 1);
                color: rgba(195, 159, 121, 1);
            }
        }
    }
    @media (max-width: $md2 + px) {
        padding: 50px 0 127px 0;
        .form {
            padding: 0 0 0 50px;
            &__input {
                height: 60px;
                font-size: 18px;
            }
            &__button {
                height: 60px;
            }
        }
    }
    @media (max-width: $md3 + px) {
        padding: 30px 0 127px 0;
        background: none;
        &__head {
            margin: 0 0 30px 0;
        }
        .form {
            padding: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &__item {
                width: 80%;
                margin: 0 0 10px 0;
            }
            &__lable {
                font-size: 16px;
                line-height: 18px;
            }
            &__input {
                height: 50px;
                font-size: 14px;
            }
            &__button {
                width: 80%;
                flex: 0 0 50px;
                margin-top: 30px;
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}