@import url("../css/normalize_null.css");
* {
  font-family: 'Montserrat', sans-serif; }

button, a {
  cursor: pointer; }

html {
  height: 100%; }

body {
  height: 100%;
  background: white; }

.wrapper {
  min-height: 100%;
  max-width: 1440px;
  min-width: 280px;
  margin: 0 auto;
  overflow: hidden; }

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 20px; }

.title_section {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #262626; }

.subtitle_section {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #838383; }

.header {
  height: 140px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .header .container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    margin: 0 50px 0 0; }
  .header__link {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #b9b9b9;
    -webkit-transition: color .3s ease-in 0s;
    transition: color .3s ease-in 0s; }
    .header__link:hover {
      color: black; }
  .header__cases {
    margin: 0 0 -5px 0; }

.top {
  height: 1024px;
  padding: 180px 0 20px 0;
  background: url("../img/top_bg.jpg") bottom/100% no-repeat; }
  .top__content {
    max-width: 537px;
    margin: 0 auto;
    text-align: center; }
  .top__title {
    margin: 0 0 14px 0; }
  .top__subtitle {
    margin: 0 0 20px 0; }
  .top__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px;
    margin: 0 0 42px 0; }
  .top__link {
    width: 224px;
    height: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #c39f79;
    border: 3px solid #c8a078;
    border-radius: 10px;
    margin: 0 auto;
    -webkit-transition: color .3s ease-in 0s, background .3s ease-in 0s;
    transition: color .3s ease-in 0s, background .3s ease-in 0s; }
    .top__link:hover {
      color: white;
      background: #c39f79; }
  .top .options__item {
    font-size: 18px;
    line-height: 22px;
    padding: 5px 14px;
    color: black;
    background: #ebebeb;
    border-radius: 10px;
    margin: 0 1px 0 0; }

.history {
  padding: 101px 0 214px 0;
  background: url("../img/history_bg_r2.png") right bottom/auto 529px no-repeat, url("../img/history_bg_r1.svg") right 26px bottom/auto 567px no-repeat, url("../img/history_bg_l.svg") left 0px/auto 100% no-repeat, url("../img/history_bg_m.svg") top 50% right 347px/auto 95% no-repeat; }
  .history__head {
    max-width: 530px;
    margin: 0 0 140px 130px; }
  .history__title {
    margin: 0 0 35px 0; }
  .history__subtitle {
    margin: 0; }
  .history__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0 0 0 70px; }
  .history__pic {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 222px;
            flex: 0 0 222px;
    margin: 0 4px 0 0; }
  .history__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 416px;
            flex: 0 1 416px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #888888;
    margin: 0 0 20px 0; }
    .history__text p:first-child {
      max-width: 350px; }
    .history__text span {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #262626; }

.gestalt {
  padding: 65px 0 120px 0; }
  .gestalt__head {
    margin: 0 0 46px 130px;
    max-width: 869px; }
  .gestalt__title {
    margin: 0 0 13px 0; }
  .gestalt__subtitle {
    margin: 0; }
  .gestalt__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    margin: 0 0 30px 150px; }
  .gestalt__box {
    background: url("../img/gestalt_bg_1.svg") 65% 0/259px auto no-repeat, url("../img/gestalt_bg_2.svg") 50% 363px/494.5px auto no-repeat, url("../img/gestalt_bg_3.svg") 35% 550px/565.5px auto no-repeat, url("../img/gestalt_bg_4.svg") 45% 750px/565.5px auto no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px 0 0 0; }
  .gestalt__column_1 {
    padding: 100px 0 0 0; }
  .gestalt__pic {
    width: 240px;
    height: auto;
    position: relative; }
    .gestalt__pic img {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 1; }
    .gestalt__pic:before {
      content: '';
      width: 254px;
      height: 295px;
      position: absolute;
      left: 0; }
    .gestalt__pic_1 {
      margin: 0 0 184px 0; }
      .gestalt__pic_1 img {
        left: -45px; }
      .gestalt__pic_1:before {
        background: #d0b496;
        top: 83px; }
    .gestalt__pic_2 img {
      bottom: 21px; }
    .gestalt__pic_2:before {
      background: #f9f9f9; }
    .gestalt__pic_3 {
      margin: 0 0 219px 0; }
      .gestalt__pic_3 img {
        right: -50px;
        bottom: -50px; }
      .gestalt__pic_3:before {
        background: #f9f9f9; }
    .gestalt__pic_4 img {
      bottom: 26px; }
    .gestalt__pic_4:before {
      background: #66aaad; }
  .gestalt .pic__lable {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #262626;
    position: absolute;
    z-index: 1; }
    .gestalt .pic__lable_1 {
      top: 90px;
      right: -30px; }
    .gestalt .pic__lable_2 {
      left: 50%;
      top: -10px;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
    .gestalt .pic__lable_3 {
      left: -43px;
      top: 70px; }
    .gestalt .pic__lable_4 {
      top: 23px;
      right: -65px; }

/*# sourceMappingURL=style.css.map */